@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

.body {
    background-color: black;

}

.left {
    width: 25vw;
    /* padding: 3px 5px ; */
}

.right {
    width: 75vw;
    position: relative;
}

.flex {
    display: flex;
}

.justify-enter {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.home ul li {
    width: 16px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.heading {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 23px 25px;
    opacity: 0.6;
    font-size: 10px;
}

.heading img {
    width: 20px;

}

.heading h2 {
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: space-between;

}

.close {
    display: none;
}

.bg-black {
    background-color: black;
    color: white;

}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
    /* background-color: red; */

}

.rounded {
    border-radius: 7px;
}

.p-1 {
    padding: 20px;
}

.m-1 {
    margin: 8px;
}

.footer {
    display: flex;
    font-size: 8px;
    color: gray;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: 0;
    padding: 10px;
    flex-wrap: wrap;
    margin: 20px 0;

}

.footer a {
    text-decoration: none;
    color: gray
}

.container {
    height: auto;
}

.library {
    min-height: 64vh;
    position: relative;
}

/* 
.border {
    border: 2px solid red;
} */

.nav {
    height: 20px;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 25px;
}

.right {

    /* overflow: scroll; */
    overflow-x: hidden;
}

.spotifyPlaylists {
    font-family: "Roboto", sans-serif;
    padding: 16px;
    margin-top: 8px;
}

.cardContainer {
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 60vh;
}

.card {
    height: fit-content;
    width: 140px;
    margin: 2px;
    font-size: 15px;
    padding: 10px;
    background-color: #252525;
    border-radius: 7px;
    position: relative;
}

.card>* {

    padding-top: 9px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card p {
    font-size: 11px;
    font-weight: 500;
}

.cardContainer {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.play-btn {
    width: 32px;
    height: 32px;
    background-color: #1fdf64;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    position: absolute;
    right: 19px;
    top: 119px;
    opacity: 0;
    transition: all 1s ease-out;
}

.signupbtn {
    background-color: #121212;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    margin: 0px 20px;
    opacity: 0.6;
}

.signupbtn:hover {
    background-color: #121212;
    cursor: pointer;
    font-size: 13px;
    opacity: 1;
}

.loginbtn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
}

.loginbtn:hover {
    font-size: 13px;

}


.playbar {
    position: fixed;
    bottom: 15px;
    background-color: rgb(2, 30, 11);
    width: 65%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 5px 0;
}

.songList ul {
    padding: 0 6px;
    font-family: "Roboto", sans-serif;

}

.info {
    width: 344px;
}

.songList ul li {
    list-style: decimal;
    font-size: 8px;
    margin: 10px;
    font-weight: bold;
    display: flex;
    gap: 20px;
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid white;
    padding: 10px 5px;
    border-radius: 7px;
    justify-content: space-between;

}

.playnow {
    display: flex;
    align-items: center;
    width: 70px;
    gap: 10px;
}

.songList {
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.seekbar {
    height: 1.5px;
    width: 97%;
    border: 2px solid white;
    position: absolute;
    bottom: 8px;
    border-radius: 10px;
    cursor: pointer;

}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: white;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
min-height: fit-content;
}

.hamburger {
    display: none;
}

@media (max-width: 1000px) {
    .left {

        position: absolute;
        left: -100%;
        transition: all 0.5s ease;
        z-index: 1;
        width: 250px;
        background-color: black;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: 90%;
        margin: auto;
    }

    .seekbar {
        width: 95%;
    }

    .container {
        height: 100vh;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .close {
        display: block;
        cursor: pointer;
        transform: rotateZ(0deg);
        transition: all 1s ease;
    }
}

@media (max-width: 500px) {
    .playbar {
        position: absolute;
        right: 8px;
        height: 120px;
    }

    .seekbar {
        width: 93%;
    }

    .container {
        height: 100vh;
    }

    .cardContainer {
        display: flex;
        gap: 2px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .abovebar {
        display: flex;
        justify-content: space-evenly;
        font-size: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        /* top: -100px; */

    }
    .songinfo {
        height: 25px;
        width: 120px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 38px;
    }
 
}

.timevol {
    display: flex;
    justify-content: center;
    width: 160px;
    align-items: center;
    position: relative;
    gap: 10px;
    margin-bottom: 5px;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.songinfo {

    height: 25px;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
}

input[type="range"] {
    height: 3px;
    width: 50px;
    background-color: #1fdf64; /* Green color */
}

/* Scroll bar track */
::-webkit-scrollbar {
    width: 7px;
    /* Width of the scrollbar */
    background-color: #333;
    /* Dark background color */
}


/* Scroll bar thumb */
::-webkit-scrollbar-thumb {
    background-color: #3e3838;
    /* Light-colored thumb */
    border-radius: 5px;
    /* Rounded corners */
}

/* Scroll bar track on hover */
::-webkit-scrollbar:hover {
    background-color: #555;
    /* Darker background color on hover */
}

/* Scroll bar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ddd;
    /* Lighter thumb color on hover */
}